# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored

# Mark Python files
*.py linguist-language=Python

# Mark JavaScript files
#*.js linguist-language=JavaScript

# Mark React files (JSX)
#*.jsx linguist-language=JavaScript

# Ignore certain files if needed (optional)
#*.md linguist-documentation
